<div class="title-block">
  <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
    Loading...
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
      <div class="col-md-6">
          <tim-add-event
          [categories]="categories"
          ></tim-add-event>
      </div>
      <div class="col-md-6">
        <tim-add-category (onCategoryAdd)="newCategoryAdded($event)"></tim-add-category>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <tim-edit-category 
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
        ></tim-edit-category>
      </div>
  </div>
</section>